.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    background: rgb(140, 89, 59);
    background: linear-gradient(90deg, rgba(140, 89, 59, 1) 0%, rgba(217, 158, 106, 1) 100%);
    width: 95%;
    height: 105px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    font-size: 2em;


}

.left img {
    width: 62px;
    margin-right: 26px;
}

.right {
    display: flex;
    align-items: center;
}

.right ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;

}

.right li {
    margin-left: 40px;
    font-size: 1.2em;

}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width:750px) {
     {
        

    }
}