.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subContainer {
    width: 95%;
    max-width: 1920px;
}

nav {
    background: rgb(140, 89, 59);
    background: linear-gradient(90deg, rgba(140, 89, 59, 1) 0%, rgba(217, 158, 106, 1) 100%);
    width: 100%;
    height: 80px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;

}

h1 {
    font-size: 2em;
    font-weight: 400;
}

.left img {
    width: 55px;
    margin-right: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.right ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;

}

.right li {
    margin-left: 40px;
    font-size: 1em;

}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.small button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50px;
    right: 50px;
}

.small button:hover {
    cursor: pointer;
}

.small {
    display: none;
    background-color: white;
    color: black;

}


.small ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: white;


}

.small ul li {

    padding: 10px 20px 10px 30px;
}

.small ul li:hover {
    color: white;
    background: rgb(140, 89, 59);
    background: linear-gradient(90deg, rgba(140, 89, 59, 1) 0%, rgba(217, 158, 106, 1) 100%);
}



@media(max-width:750px) {
    .big {
        display: none;
    }

    .small {
        display: block;
    }
}