.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subContainer {
    width: 95%;
    max-width: 1440px;
}

nav {
    background: rgb(140, 89, 59);
    background: linear-gradient(90deg, rgba(140, 89, 59, 1) 0%, rgba(217, 158, 106, 1) 100%);
    width: 100%;
    height: 105px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    font-size: 2em;


}

.left img {
    width: 62px;
    margin-right: 26px;
}

.right {
    display: flex;
    align-items: center;
}

.right ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;

}

.right li {
    margin-left: 40px;
    font-size: 1.2em;

}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.small button {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 50px;
    right: 50px;
}

.small button:hover {
    cursor: pointer;
}

.small {
    display: none;
    background-color: white;
    color: black;
    position: relative;
}

.slideDown {
    animation-name: slide;
    animation-duration: 1s;
} 

.small ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: none;
}

.small ul li {
    padding: 10px 20px 10px 30px;
}

.small ul li:hover {
    color: white;
    background: rgb(140, 89, 59);
    background: linear-gradient(90deg, rgba(140, 89, 59, 1) 0%, rgba(217, 158, 106, 1) 100%);
}

@keyframes slide {
    0% {
        opacity: 0;
        bottom: 100px
    }

    25% {
        opacity: 25%;
        bottom: 75px
    }

    50% {
        opacity: 50%;
        bottom: 50px
    }

    75% {
        opacity: 75%;
        bottom: 25px
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@media(max-width:750px) {
    .big {
        display: none;
    }

    .small {
        display: block;
    }
}